<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <a class="btn btn-primary btn-sm mb-3" routerLink="/courses/addcourse"
        >Add Course</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <p>Course Id</p>
    </div>
    <div class="col-sm-3">
      <p>Course Name</p>
    </div>
    <div class="col-sm-3">
      <p>Update</p>
    </div>
    <div class="col-sm-3">
      <p>Delete</p>
    </div>
  </div>

  <div class="row" *ngFor="let courses of courseList">
    <div class="col-sm-3">
      <p>{{ courses.courseId }}</p>
    </div>
    <div class="col-sm-3">
      <p>{{ courses.courseName }}</p>
    </div>
    <div class="col-sm-3">
      <a
        type="button"
        class="btn btn-primary"
        routerLink="/courses/editcourse/{{ courses.courseId }}"
        >Update</a
      >
    </div>
    <div class="col-sm-3">
      <a
        (click)="deleteCourse(courses.courseId)"
        type="button"
        style="color: #fff"
        class="btn btn-danger"
        >Delete</a
      >
    </div>
  </div>

  <!-- <div class="row">
    <div
      class="row-lg-3 d-flex justify-content-around mb-3"
      *ngFor="let courses of courseList"
    >
      <label>{{ courses.courseId }}</label>

      <label>{{ courses.courseName }}</label>

      <a type="button" class="btn btn-primary" routerLink="/editcourse"
        >Update</a
      >

      <a
        (click)="deleteCourse(courses.courseId)"
        type="button"
        class="btn btn-danger"
        >Delete</a
      >
    </div>
  </div> -->
</div>
